@model Atividade_Douglas.Models.Modelo3D

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Modelo3D</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Historia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Historia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilidades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilidades)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Modelo3DID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
